body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.message {
  .author {
    font-weight: bold,
  }
  
  .date {
    font-style: italic;
  }
}

.channel-list{
  .active{
    font-weight: bold;
  }
}